/Radu/*
/project/*
/history/*
/docs/*
/stanfordParserFull/*
/stanfordParser/*
/musixmatch/
/searchApi/celerybeat-schedule
/searchApi/celeryconfig.py
/searchApi/celeryconfig.pyc
/searchApi/configDb.py
/searchApi/trial.py
/searchApi/dump.rdb
/searchApi/temp-18941.rdb
/textProcessing/englishPCFG.ser.gz
/configFiles/*
/word_lists/*
/auth/*
/taskRunner/*
.idea/
.idea/
dump.rdb
/backUpDatabase/*
/twitter_nlp-master/*
/TweeboParser/*
/pyner-master/*
/stanford-ner-2015-01-30/*
/TweetNLP/*
/sentiStrength/*
/textProcessing/sklearnPack/screenshots/*
