/Radu/*
/project/*
/data/*
/docs/*
/stanfordParserFull/*
/stanfordParser/*
/musixmatch/
/searchApi/celerybeat-schedule
/searchApi/celeryconfig.py
/searchApi/celeryconfig.pyc
/searchApi/configDb.py
/searchApi/trial.py
/searchApi/dump.rdb
/searchApi/temp-18941.rdb
/tweetsHelper/englishPCFG.ser.gz	
/configFiles/*
/word_lists/*
/auth/*
/taskRunner/*
.idea/
.idea/
dump.rdb

